
node_modules

npm-debug.log*
yarn-debug.log*



/server/dist 

/client/dist

build
.tsbuildinfo


.env
.env.development
.env.production
.env.test


/server/prisma/migrations

/server/node_modules/@prisma/client


.DS_Store
.vscode/
*.log